html,body{
    padding: 0;
    height: 100%;
    width: auto;
    margin: 0;
    background-color: #192136;
}
.wrapper {
    width: auto;
    height: 100%;
}
.wrap_sidebar {
    border-right:  1px solid #333b4f;
    float: left;
    margin: 0;
    height: 100%;
    
}

.wrap_sidebar-header{
    padding: 1em;
    margin-bottom: 1.5em;
}
.wrap_sidebar-header span{
    font-family: 'Righteous', cursive;
    color: #C5C8CC;
    font-size: 22px;   
    float: left;
}
.btn-add {
    margin-left: 2em;
}
.wrap_sidebar-content{
    padding: 1em;
}
.wrap_sidebar-content input {
    height: auto;
    border-radius: 5px;
    border: 1px solid #333b4f;
    padding: 10px 15px;
    background-color: #192136;
    color: #C5C8CC;
    width: 35vh; 
}
.btn{
    position: relative;
    font-size: 14px;
    width:auto;
    display: inline-flex;
    padding: 5px 8px;
    line-height: 10px;
}
.btn.btn-outline-light{
    border : 1px solid white;
    border-color: #293145;
    border-radius: 5px;
    float: right;
    margin-left: 0.5em;
}
.btn img {
    width: 15px;
}
.rounded-circle {
    border-radius: 50% !important;
}
img {
    vertical-align: middle;
    border-style: none;
}

.wrap_chat{ 
    display: flex;
    padding: 17px 10px;
    border-bottom: 1px solid #293145;
}
.wrap_chat-header{
    
}
.wrap_chat-header--user {
    display: flex;
    align-items: center;
}
figure.wrap_chat-header--user___avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
figure.wrap_chat-header--user___avatar{
    display: inline-block;
    margin-bottom: 0;
    height: 2.3rem;
    width: 2.3rem;
    border-radius: 50%;
    margin-right: 1em;
    margin-top: 0;
    margin-left: 1em;
}
.wrap_chat-header--user___content {
    color: white;
    margin: 0;
    
}
.wrap_chat-header--user___content > h5{
    font-family: 'Rubik', sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}
.wrap_chat-header--user___content > small {
    font-family: 'Rubik', sans-serif;

}
.wrap_chat-body{
    display:flex;
    padding: 30px;
    overflow: hidden;
    outline : none;
    height: 70vh;
    border-bottom: 1px solid #293145;
}
.message-content {
    background: #ebebeb;
    border-radius: 7px;
    padding: 10px 20px;
    font-family: 'Rubik', sans-serif;
    color: #C5C8CC;
    max-width: 180px;
}

.messages {
    width: 100%;
}
.message-item {
    margin-bottom: 6rem;
    
}
.ingoing-message .message-content{
    background-color: #333b4f;
    float: left;

}
.outgoing-message .message-content{
    background-color: #0a80ff;
    float: right;

}
.chat-footer{
    display: flex;
    height: 100px;
    padding: 1em;
}
.chat-footer--typing {
    margin-top: 0em;
    margin-left: 0em;
    padding: 1px;
}
.chat-footer--typing input {
    height: auto;
    border-radius: 5px;
    border: 1px solid #333b4f;
    padding: 10px 15px;
    background-color: #192136;
    color: #C5C8CC;
    width: 105vh; 

}
/*
font-family: 'Rubik', sans-serif;
font-family: 'Righteous', cursive;
*/
.chat-footer--typing > button{
    padding: 1em;
    border-radius: 5px;
    color: #C5C8CC;
    background-color: #192136;
    border : 1px solid #333b4f; 
}
.chat-footer--typing > button:hover{
    background-color: #0a80ff;
    transition-duration: 0.5;
}